.gimPlanMensual{
    background-color: rgb(39, 39, 39);
    min-width: 250px;
    max-width: 350px;
    color: white;
    margin: 0 auto;
   height: fit-content;
   border-radius: 30px;
   padding: 10px;
   margin-bottom: 20px;
}

.gimPlanMensual p{
    padding: 20px;
}

.dividerGrid{
    background-color: white;
    
    margin: 0 auto;
    margin-top: 20px;
    
}

.buttonGim{
    margin-bottom: 20px;
}

.gim{
    background-color: rgb(199, 197, 197);
    height: 90vh;
    border-bottom: 30px solid black;
    border-right: 30px solid transparent;
   
}

.paper{
    background-color: rgb(39, 39, 39);
}



.buttonCont{
    text-align: center;
    margin: 0 auto;
    
    width: fit-content;
    margin-top: 30px;
   
}

.buttonCont button{
    margin: 0 auto;
    margin-right: 10px;
}

.gimText{
    width: 60%;
    margin: 0 auto;
  
    text-align: center;
    margin-top: 20%;
}

.gimText p{
    padding: 10px;
}

.gimPlanContainer{
    margin: 0 auto;
    margin-top: 5%;
  
}

.titlePlanP{
    font-size: 20px;
    color: yellow;
    font-weight: bold;
}

.titlePlan{
    font-size: 36px;
    font-weight: bold;
}

.planList{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 70px;
    
    
}

.checkList{
    color: yellow;
}

.logoCert{
    width: 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}